*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-8 p a{
    color: #d59541;
}

b{
     color: #d59541;
}

body{
    font-family: "Roboto", sans-serif;
}

#large-hero{
    position: relative;
}

#hero-text-content{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 50%;
    transform: translateY(-70%);
    width: 100%;
    text-align: center;

}

.hero-image{
    max-width: 100%;
    height: 100vh;
}

#large-hero-title{
    font-weight: 500;
    font-size: 80px;
    color: #2f5572;
}

#header-subtitle{
    font-weight: 300;
    color: #2f5572;
    font-size: 50px;
}

.description{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: 100;
    color: #fff;
    padding: 40px 0;
    text-transform: capitalize;
    text-shadow: 1px 1px 0 #000;
}


.btn{
    background: #d59541;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
}

.wrapper{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.headline{
    text-align: center;
}

.headline-title{
    font-size: 46px;
    color: #2f5572;
    font-weight: 100;
    margin: 20px 0;
}
.headline-title-bold{
    font-weight: 500;
}

.headline-title-no-t-margin{
    margin-top: 0;
    padding-top: 0;
}

.semi-wrapper{
    margin: 40px 0;
}

.headline-subtitle{
color: #d59541;
font-size: 36px;
font-weight: 100;
max-width: 600px;
margin-left: auto;
margin-right: auto;
}

.wrapper-image{
max-width: 876px;
margin-left: auto;
margin-right: auto;
display: block;
}

.row{
    display: flex;
    margin-top: 20px;
    padding: 0 10px;
}

.row-t-margin{
    margin-top: 20px;
}

.row-gutters > div{
    padding-right: 65px;
}


img{
    max-width: 100%;
    height: auto;
}

.col-4{
    width: 37%;
}

.col-8{
    width: 67%;
    margin-right: -65px;
}

.col-8 p{
    line-height: 30px;
}


